<div class="row">
  <% @events.each do |event| %>
    <div class="col s12 m12 l4">
      <%= render partial: "common/event-content", locals: { event: event } %>
    </div>
  <% end %>
</div>

<% if current_user %>
  <div class="fixed-action-btn">
    <%= link_to new_event_path, class: "btn-floating btn-large blue" do %>
      <%= material_icon.add %>
    <% end %>
  </div>
<% end %>
