<div class="card z-depth-0">
  <div class="card-content">
    <h1 class="light center">404</h1>
    <h6 class="center light">This link doesn't exist!</h6>
    <br>
    <br>
    <br>
    <div class="center">
      <%= link_to "Events", events_path, class: "btn white blue-text z-depth-0" %>
      <%= link_to "Songs", songs_path, class: "btn white blue-text z-depth-0" %>
    </div>
  </div>
</div>