html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  margin: 20px auto 30px !important;
}

nav {
  .brand-logo {
    font-weight: 200;
    white-space: pre;

    @media (max-width: 425px) {
      font-size: 25px !important;
    }
  }

  .sidenav-trigger {
    @media (max-width: 768px) {
      margin: 0 18px 0 0 !important;
    }
  }
}

.page-footer {
  padding-top: 0;
  
  @media (max-width: 768px) {
    .red-text {
      display: block;
      font-size: 22px;
      line-height: 0.9;
    }
  }
}

.input-field {
  .form__input {
    height: 2.8rem !important;
    border: 1px solid #9e9e9e !important;
    border-radius: 3px !important;
    margin-bottom: 0 !important;
    padding: 0 50px 0 10px !important;
    font-size: 16px !important;
    box-sizing: inherit !important;
    font-weight: 300 !important;

    &:focus {
      border: 1px solid #64B5F6 !important;
      box-shadow: none !important;
    }
  }

  select {
    display: block !important;
  }

  p {
    margin: 25px 0 8px !important;
  }

  &:nth-of-type(1) {
    margin-top: 0;

    p {
      margin-top: 0 !important;
    }
  }
}

.btn-block {
  width: 100%;
  display: block;
  margin-top: 50px;
}

.toast {
  top: 10px !important;

  &.toast-success {
    background-color: #33691e !important;
  }

  &.toast-error {
    background-color: #e53935 !important;
  }
}

.tox-statusbar__branding {
  display: none !important;
}

.nested_fields {
  padding: 0;
  border: none;
  margin: 0 0 10px;

  .nested_fields--link {
    position: relative;
    height: 25px;
    width: 100%;
  }

  .remove_nested_fields_link {
    position: absolute;
    right: 0;
  }

  select {
    display: block;
  }
}

