.details {
  .card-title {
    margin-bottom: 0 !important;
  }
}

.details--talk {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.details--talk-songs {
  .talk-song-list {
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }
}