<%= link_to event do %>
  <div class="card z-depth-0 event-detail">
    <div class="card-content">
      <p class="light black-text"><%= event.event_category.title %></p>
      <span class="card-title blue-text event-detail-text"><%= event.title %></span>

      <p class="light black-text">By</p>
      <span class="card-title blue-text event-detail-text"><%= event.by %></span>
    </div>
  </div>
<% end %>